.header {
  margin-bottom: 5px;
}

.text {
  font-size: 1.5em;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}